.toggle {
  background: #f2f2f2;
  height: 32px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  padding: 0.35rem;
  gap: 1rem;
  width: fit-content;
}

.toggleHome {
  background: #FE7139;
  height: 32px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  padding: 0.35rem;
  gap: 1rem;
  width: fit-content;
}

input[type="radio"] {
  display: none;
}

label {
  width: 100px;
  display: inline-block;
  text-align: center;
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.selector {
  height: 1.52rem;
  width: 108px;
  border-radius: 30px;
  position: absolute;
  top: 3.75px;
  z-index: 1;
  transition: left 0.25s ease-in-out;
}

.client,
.restaurant {
  transition: all 400ms;
}

